*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Poppins', sans-serif;

}
.container{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)),url(bg.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.login{
	width: 350px;
	height: 450px;
	background-color: #fff;
	text-align: left;
}
.login h2{
	color: #fff;
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;
	padding: 12px 30px;
	background-color: #6f0107;
}
.login b{
	letter-spacing: 5px;
	margin-left: 12px;
	font-size: 18px;
	color: red;
}
.login input{
	width: 80%;
	color: #fff;
}
.login input[type="text"],input[type="password"]{
	margin-left: 12px;
	border: none;
	outline: none;
	color: #000;
	border-bottom: 2px solid green;
	height: 40px;
}
#submit{
	border: none;
	outline: none;
	width: 80%;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 22px;
	display: block;
	margin-left: 12px;
	text-align: center;
	padding: 8px 30px;
	border-radius: 30px;
	background-color: #e1121e;
	cursor: pointer;
}
#submit:hover{
	letter-spacing: 4px;
	background-color: #6f0107;
	color: #fff;
	transition: 0.8s;
}
.login a{
	text-decoration: none;
	color: #000;
	font-size: 18px;
	margin-left: 12px;
}
.login span{
	color: blue;
	text-decoration: underline;
}


































































